@font-face {
	font-family: 'Minecraft';
	src: url('Fonts/Minecraft.ttf');
}

#root {
	font-family: 'Minecraft', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	--border-radius: 15px;

	// Test values
	//	--color-main-background: black;
	//	--color-main-text: white;
	//	--color-background-darker: gray;
}

button,
input {
	font-family: 'Minecraft';
}

.App {
	width: 80%;
	height: 80%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.Menu {
	display: flex;
	flex-direction: column;
	text-align: center;
	gap: 1vh;
	padding: 4vh 2vw;
	border-radius: var(--border-radius);
	background-color: var(--color-main-background-blur);
	color: var(--color-main-text);
	& > h2 {
		font-size: 3em;
	}
	& > div {
		display: grid;
		gap: 2vw;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		font-size: 1.5em;
		& > button {
			font-size: 1em;
			cursor: pointer;
			& > span {
				cursor: pointer;
			}
			& > span:nth-child(2) {
				font-size: 0.8em;
			}
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			gap: 1vh;
			width: 15vw;
			height: 15vw;
			border-radius: var(--border-radius);
		}
	}
}

.CustomMenu {
	display: flex;
	flex-direction: column;
	text-align: center;
	gap: 1vh;
	padding: 5vh 3vw;
	width: 20vw;
	border-radius: var(--border-radius);
	background-color: var(--color-main-background-blur);
	color: var(--color-main-text);
	& > h2 {
		font-size: 2em;
	}

	& > button {
		font-size: 1.7em;
		cursor: pointer;
	}

	& > div {
		font-family: 'Minecraft';
		font-size: 1.5em;
		& > input {
			font-size: 1em;
			width: 4em;
		}
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.Game {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1vh;
	border-radius: var(--border-radius);
	background-color: var(--color-main-background);
	color: var(--color-main-text);
	padding: 2vh;

	max-height: 100%;
}

.BoardContainer {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	overflow: scroll;
}

.Board {
	display: grid;
	user-select: none;
	grid-area: 1 / 1;
	z-index: 0;

	grid-template-columns: repeat(var(--columns), 1fr);
	grid-template-rows: repeat(var(--rows), 1fr);
}

.Case {
	min-height: 3vmin;
	max-height: 7vmin;

	aspect-ratio: 1 / 1;

	& > img {
		width: 100%;
		height: 100%;
	}
}

.Counter {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.RestartButton {
	margin: 0;
}

.CounterText {
	display: flex;
	flex-direction: column;
	gap: 0.5vh;
}

body:has(.explodeScreen) {
	animation-name: explode;
	animation-iteration-count: 6;
	animation-timing-function: linear;
	animation-duration: 100ms;
}

.explodeScreen {
	background-color: rgba(255, 200, 200, 0.3);
}

.winScreen {
	background-color: rgba(207, 255, 200, 0.3);
}

.splashScreen {
	grid-area: 1 / 1;
	z-index: 1;
	width: 100%;
	height: 100%;
	cursor: not-allowed;
}

.ExplosionCanva {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 3;
}

@keyframes explode {
	0% {
		transform: translate(1px, 1px) rotate(0deg);
	}
	10% {
		transform: translate(-1px, -2px) rotate(-1deg);
	}
	20% {
		transform: translate(-3px, 0px) rotate(1deg);
	}
	30% {
		transform: translate(3px, 2px) rotate(0deg);
	}
	40% {
		transform: translate(1px, -1px) rotate(1deg);
	}
	50% {
		transform: translate(-1px, 2px) rotate(-1deg);
	}
	60% {
		transform: translate(-3px, 1px) rotate(0deg);
	}
	70% {
		transform: translate(3px, 1px) rotate(-1deg);
	}
	80% {
		transform: translate(-1px, -1px) rotate(1deg);
	}
	90% {
		transform: translate(1px, 2px) rotate(0deg);
	}
	100% {
		transform: translate(1px, -2px) rotate(-1deg);
	}
}
