@font-face {
	font-family: 'Minecraft';
	src: url('Fonts/Minecraft.ttf');
}

:root {
	--hideColor: #999999;
}

#root {
	margin: 0;
	font-family: 'Minecraft', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
		'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: gray;
}

.App {
	height: auto;
	width: auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

.Board {
	display: grid;
	background-color: black;
	border-radius: 5px;
}

.case {
	width: 40px;
	height: 40px;
	border: 1px solid black;

	& > img {
		width: 40px;
		height: 40px;
	}
}

.caseHidden {
	background-color: var(--hideColor);
}
